body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
   
}
.nome{
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.sub{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 160, 160);
    /*font-weight: 600;*/
    font-size: 20px;
    margin-bottom: 30px;
}

.links{
    text-decoration: none;
    margin: 20px;
}

#link_home{
    font-size: 20px;
    color: white;
    width: 100px;
    height: 20px;
    background-color: #666;
    text-decoration: none;
    padding: 10px;
    font-weight: 666;
}
#link_home:hover{
    font-size: 20px;
    color: #666;
    width: 100px;
    height: 20px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
}