body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
   
}
.nome{
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 10px;
}

a{
  text-decoration: none;  
  color: #000;
  
}

a:hover{
    color: darkgray;
}

li{
    list-style: none;
}